/* couleur bouton*/
/* couleur fond */
/* couleur police */
* {
  box-sizing: border-box;
}

body {
  min-width: 350px;
  max-width: 720px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

/* FONT-SIZE */
h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 21px;
  font-weight: lighter;
}

.menu__title > h1 {
  font-family: "Shrikhand";
}

h2 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 7px;
}

h3 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 7px;
}

p {
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}

.stage__instruction, .btn, .searching__bar > span {
  font-size: 19px;
  font-weight: bold;
}

footer {
  font-size: 19px;
}

.spinner {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand";
  font-size: 30px;
  color: black;
  text-align: center;
}
.spinner .loader {
  background-color: #f7f2fc;
  height: 500px;
  line-height: 500px;
}
.spinner .loader .loader__figure {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  position: relative;
  border-radius: 50px;
  border: 6px solid #bc95e9;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  animation: spin 1s linear 0s infinite;
}
.spinner .loader .loader__figure::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50px;
  border: 3px solid #ffc6ef;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  animation: spinreverse 5s linear 0s infinite;
}
.spinner .loader .loader__figure i {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  animation: spini 5s ease-out 0s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spini {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1);
  }
}
/* header*/
header {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header .return {
  background-color: white;
  border: none;
  padding-left: 30px;
}
header .return a {
  color: #4e4e4e;
}
header .header__logo {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
}
header .header__logo > img {
  width: 65%;
  margin: auto;
  padding-left: 15%;
}

hr {
  display: flex;
  flex: 0 0 100%;
  border: none;
  border-bottom: 3px solid #e0e0e0;
  margin: 0;
}

.searching {
  display: flex;
  flex-direction: column;
}
.searching .searching__bar {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #f2f2f2;
  padding: 20px 0;
}
.searching .searching__bar i {
  padding: 15px;
}
.searching .searching__bar i, .searching .searching__bar span {
  color: #4e4e4e;
}
.searching .searching__exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #fbfbfb;
  padding: 50px 0;
}
.searching .searching__exploration h1, .searching .searching__exploration .subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searching .searching__exploration .btn {
  margin-top: 20px;
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 20px;
}
.functioning .functioning__stage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  position: relative;
  box-shadow: 3px 3px 3px #f2f2f2;
  border-radius: 50px;
  background-color: #fbfbfb;
}
.functioning .functioning__stage .stage__number {
  background: #9356DC;
  font-size: 15px;
  padding: 5px 10px;
  color: white;
  border-radius: 50px;
  position: absolute;
  left: -5px;
}
.functioning .functioning__stage .stage__icone {
  color: #6c6c6c;
  position: absolute;
  left: 45px;
}
.functioning .functioning__stage .stage__instruction {
  position: absolute;
  left: 90px;
}
.functioning .functioning__stage:hover {
  background-color: #f7f2fc;
}
.functioning .functioning__stage:hover .stage__icone {
  color: #9356DC;
}

.resto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 20px 70px 20px;
  background-color: #fbfbfb;
}
.resto h1 {
  padding-bottom: 10px;
}
.resto .resto__card {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
  box-shadow: 3px 3px 3px #f2f2f2;
  border-radius: 15px;
  overflow: hidden;
}
.resto .resto__card .card__img {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 0;
}
.resto .resto__card .card__img p {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background-color: #99e1cf;
  color: #06a37c;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}
.resto .resto__card .card__img img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 250px;
}
.resto .resto__card .card__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
.resto .resto__card .card__text .card__text__name {
  flex: 2;
}
.resto .resto__card .card__text .favorite {
  padding: 10px 50px 50px 0;
}

.btn {
  width: 55%;
  color: white;
  background-image: linear-gradient(#FF79DA 35%, #bc95e9);
  border-radius: 50px;
  padding: 15px 25px;
  border: none;
}
.btn:hover {
  transform: scale(1.15);
  transition: transform 500ms;
}

.favorite {
  position: relative;
  background: transparent;
}
.favorite div i {
  position: absolute;
}
.favorite div i:hover {
  opacity: 0;
}
.favorite .full {
  opacity: 0;
}
.favorite .full:hover {
  opacity: 1;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.35s;
}

.banner img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 0;
  background-color: #fbfbfb;
  border-radius: 50px 50px 0 0;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 50px 20px 50px 20px;
}
.menu .menu__title .favorite {
  padding-right: 20px;
}

.menu__dish {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;
}
.menu__dish .dish__type hr {
  width: 50px;
  /*display: flex;
  flex: 0 0 100%;*/
  border: none;
  border-bottom: 5px solid #99e1cf;
  margin: 0;
}
.menu__dish .dish__items {
  position: relative;
  display: flex;
  border-radius: 30px;
  box-shadow: 3px 3px 3px #f2f2f2;
  background-color: white;
  overflow: hidden;
}
.menu__dish .dish__items .dish__items-front {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px;
  animation: all 1s ease-in-out forwards;
}
.menu__dish .dish__items .dish__items-front .items__description {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dish .dish__items .dish__items-front .items__price {
  font-size: 18px;
  font-weight: bold;
  color: #4e4e4e;
}
.menu__dish .dish__items .items__check {
  display: flex;
  width: 75px;
  height: 100%;
  position: absolute;
  z-index: 0;
  right: -100px;
  bottom: 0;
  background-color: #99e1cf;
  opacity: 0;
}
.menu__dish .dish__items .items__check i {
  color: white;
  margin: auto;
}
.menu__dish .dish__items:hover .items__check {
  animation: checking-slide 0.7s ease-out forwards;
  transform-origin: left;
}
.menu__dish .dish__items:hover .items__check > i {
  animation: checking-rotation 0.5s ease-out 0.2s;
}

.btn {
  align-self: center;
  margin-bottom: 20px;
}

@keyframes checking-slide {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-100px);
    opacity: 1;
  }
}
@keyframes checking-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: #4e4e4e;
  color: white;
}
footer .logo {
  font-family: "Shrikhand";
  padding-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
footer ul li {
  padding-bottom: 5px;
}
footer ul li a {
  color: white;
}
footer ul li:nth-child(1) i {
  padding-right: 17px;
}
footer ul li:nth-child(2) i {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
