/* couleur bouton*/
/* couleur fond */
/* couleur police */
* {
  box-sizing: border-box;
}

body {
  min-width: 260px;
  max-width: 720px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

h1 {
  font-size: 33px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 5px 0;
}

p {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
}

/* header*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header .return {
  background-color: white;
  border: none;
  padding-left: 30px;
}
header .return a {
  color: #4e4e4e;
}
header .header__logo {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 30px 0;
}
header .header__logo > img {
  width: 70%;
  margin: auto;
  padding-left: 15%;
}

hr {
  display: flex;
  flex: 0 0 100%;
  border: none;
  border-bottom: 3px solid #e0e0e0;
  margin: 0;
}

.searching {
  display: flex;
  flex-direction: column;
}
.searching .searching__bar {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #f2f2f2;
  padding: 30px 0;
}
.searching .searching__bar i {
  padding: 15px;
}
.searching .searching__bar i, .searching .searching__bar p {
  color: #4e4e4e;
  font-weight: bold;
}
.searching .searching__exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #fcfcfc;
  padding: 50px 0;
}
.searching .searching__exploration h1, .searching .searching__exploration .subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searching .searching__exploration .subtitle {
  font-size: 23px;
  font-weight: lighter;
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 20px;
}
.functioning .functioning__stage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  position: relative;
  box-shadow: 3px 3px 3px #f2f2f2;
  border-radius: 50px;
  font-size: 21px;
}
.functioning .functioning__stage .stage__number {
  background-image: linear-gradient(#bc95e9 30%, #FF79DA);
  font-size: 15px;
  padding: 5px 10px;
  color: white;
  border-radius: 50px;
  position: absolute;
  left: -5px;
}
.functioning .functioning__stage .stage__icone {
  color: #6c6c6c;
  position: absolute;
  left: 50px;
}
.functioning .functioning__stage .stage__icone:hover {
  color: #9356DC;
}
.functioning .functioning__stage .stage__instruction {
  position: absolute;
  left: 100px;
  font-weight: normal;
}

.resto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 100px 20px;
}
.resto h1 {
  padding-bottom: 10px;
}
.resto .resto__card {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
  box-shadow: 3px 3px 3px #f2f2f2;
  border-radius: 15px;
  overflow: hidden;
}
.resto .resto__card .card__img {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 0;
}
.resto .resto__card .card__img p {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background-color: #99e2c1;
  color: rgba(5, 185, 149, 0.862745098);
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}
.resto .resto__card .card__img img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 250px;
}
.resto .resto__card .card__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
.resto .resto__card .card__text .card__text__name {
  flex: 2;
}
.resto .resto__card .card__text .card__text__heart {
  align-self: flex-end;
  position: relative;
  padding: 20px 30px 30px;
}
.resto .resto__card .card__text .card__text__heart:hover .heart--full {
  opacity: 1;
}
.resto .resto__card .card__text .card__text__heart .heart--full {
  position: absolute;
  top: 20px;
  right: 30px;
  bottom: 30px;
  z-index: 0;
  color: linear-gradient(#FF79DA 30%, #bc95e9);
  opacity: 0;
  transition: opacity 10ms ease-in;
}

.btn {
  color: white;
  font-weight: bold;
  font-size: 21px;
  background-image: linear-gradient(#FF79DA 30%, #bc95e9);
  border-radius: 50px;
  padding: 20px 30px;
  margin: 25px 0;
  border: none;
}

.banner {
  overflow: hidden;
}
.banner img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.menu {
  position: absolute;
  top: 350px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 20px;
  border-radius: 50px 50px 0 0;
  background-color: white;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  font-family: "Shrikhand";
}
.menu .menu__entrees, .menu .menu__plats, .menu .menu__desserts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*.items:nth-child(1) {
      flex:2;
  }*/
}
.menu .menu__entrees hr, .menu .menu__plats hr, .menu .menu__desserts hr {
  width: 50px;
  display: flex;
  flex: 0 0 100%;
  border: none;
  border-bottom: 5px solid #99e2c1;
  margin: 0;
}
.menu .menu__entrees .items, .menu .menu__plats .items, .menu .menu__desserts .items {
  width: 100%;
  display: flex;
  border-radius: 30px;
  box-shadow: 3px 3px 3px #f2f2f2;
  padding: 20px;
}
.menu .menu__entrees .items .items__description, .menu .menu__plats .items .items__description, .menu .menu__desserts .items .items__description {
  width: 90%;
}
.menu .menu__entrees .items .items__description p, .menu .menu__plats .items .items__description p, .menu .menu__desserts .items .items__description p {
  font-size: 22px;
}
.menu .menu__entrees .items .items__price, .menu .menu__plats .items .items__price, .menu .menu__desserts .items .items__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  color: #4e4e4e;
}
.menu .btn {
  align-self: center;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: #4e4e4e;
  font-size: 21px;
  color: white;
}
footer .logo {
  font-family: "Shrikhand";
  padding-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
footer ul li {
  padding-bottom: 5px;
}
footer ul li a {
  color: white;
}
footer ul li:nth-child(1) i {
  padding-right: 17px;
}
footer ul li:nth-child(2) i {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
