@charset "UTF-8";
/*color-background: black
$color-background: #0000;
$color-background--light: lighten ($color-background, 20%); >> gris foncé
$color-background--light-strong: lighten ($color-background, 75%); >>gris clair */
/*color-font :black
$color-font: #0000;
$color-font--light: lighten ($color-font, 20%); >> gris foncé 
$color-font--light-strong: lighten ($color-font, 50%); >> gris clair*/
/* couleur fond */
/* couleur police */
@import url();
* {
  box-sizing: border-box;
}

body {
  max-width: 720px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0;
}

p {
  color: #6c6c6c;
  font-size: 21px;
  margin: 0;
}

/* header*/
header {
  display: flex;
  flex-wrap: wrap;
}
header .header__logo {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
}
header .header__logo > img {
  max-width: 65%;
  margin: auto;
}

hr {
  display: flex;
  flex: 0 0 100%;
  border: none;
  border-bottom: 2px solid #a3a3a3;
  margin: 0;
}

.searching {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  padding-left: 20px;
}

.searching__bar {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #f4f0f0;
  padding: 20px 0;
}
.searching__bar i {
  padding: 15px;
}
.searching__bar i, .searching__bar p {
  color: #4e4e4e;
  font-weight: bold;
}

.searching__exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.searching__exploration h1, .searching__exploration p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searching__exploration .exploration__button {
  width: 70%;
  color: white;
  font-weight: bold;
  font-size: 21px;
  background-color: #FF79DA;
  border-radius: 50px;
  padding: 15px;
  border: none;
}

.searching__functioning {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 25px;
  padding: 20px;
}
.searching__functioning .functioning__stage {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding: 15px;
  position: relative;
  box-shadow: 3px 3px 3px #4e4e4e;
  border-radius: 50px;
  font-size: 21px;
}
.searching__functioning .functioning__stage .stage__number {
  background-color: #9356DC;
  padding: 5px 10px;
  color: white;
  border-radius: 50px;
  position: absolute;
  left: -5px;
}
.searching__functioning .functioning__stage .stage__icone {
  color: #6c6c6c;
  position: absolute;
  left: 50px;
}
.searching__functioning .functioning__stage .stage__instruction {
  position: absolute;
  left: 100px;
  font-weight: bold;
}

.resto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 10px;
  padding: 20px;
}
.resto .resto__card {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
  box-shadow: 3px 3px 3px #4e4e4e;
  border-radius: 15px;
  overflow: hidden;
}
.resto .resto__card .card__img {
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}
.resto .resto__card .card__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #4e4e4e;
  padding: 20px 0;
  font-size: 21px;
  color: white;
}
footer .logo {
  font-family: "Shrikhand";
  padding-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
footer ul li {
  padding-bottom: 5px;
}
footer ul li a {
  color: white;
}
footer ul li:nth-child(1) i {
  padding-right: 17px;
}
footer ul li:nth-child(2) i {
  padding-right: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #4e4e4e;
  padding: 20px 0;
  font-size: 21px;
  color: white;
}
footer .logo {
  font-family: "Shrikhand";
  padding-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
footer ul li {
  padding-bottom: 5px;
}
footer ul li a {
  color: white;
}
footer ul li:nth-child(1) i {
  padding-right: 17px;
}
footer ul li:nth-child(2) i {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
