footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background-color: $color-background-dark;
    color : white;

    @media (min-width: 720px) {
        align-items: center;
        margin: auto;
    }

    .logo {
        font-family: 'Shrikhand';
        padding-left: 20px;    
    }

    ul {
        list-style: none;
        padding-left:20px;
        
        li {
            padding-bottom: 5px;
            a {
                color: white;
            }
        }

        li:nth-child(1) {
            i {
                padding-right:17px;
            }
        } 

        li:nth-child(2){
            i {
                padding-right : 10px;
            }
        }
    }
}

