/* header*/

header {
    display: flex;
    
    .header__logo {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 25px;
        
        &>img {
            max-width: 65%;
             margin: auto;
        }
    }
}

hr {
    border: none;
    border-bottom: 3px solid #DCDC;
    height: 3px;
    color: #DCDC;
    }
    


