header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .header__logo {
        display: inline-flex;
        align-items: baseline;
        padding: 15px 0px;

        &>img {
            width: 55%;
            margin: auto;
            padding-left: 11%;
        }
    }
    
    .header__menu {
        padding-right: 50px;

        .return {
            margin: auto;
            background-color: white;
            border: none;

            a {
                color: $color-font-dark;
            }
        }

        &>img {
            padding-left:0;
        }
    }

    hr {
        display: flex;
        flex: 0 0 100%;
        border: none;
        border-bottom: 3px solid $color-hr;
        margin: 0;
    }
}