.btn {
    width: 55%;
    color: white;
    background-image: $background-radient-secondary;
    border-radius: 50px;
    padding: 15px 25px;
    border: none;

    &:hover {
        transform: scale(1.15);
        transition: transform 500ms;
        box-shadow: 1px 1px 5px $color-background-dark;
    }
}

.menu .btn {
        align-self: center;
        margin-bottom: 20px;
}

.searching__exploration>.btn {
        margin-top: 20px;
}
