.btn {
    color: white;
    background-image: $background-radient-secondary;
    border-radius: 50px;
    box-shadow: $box-shadow;
    padding: 15px 15px;
    border: none;
    width: max-content;

    &:hover {
        box-shadow: 1px 1px 5px $color-background-dark;
        background-image: $background-radient-secondary-light; 
    }
}


