.btn {
    width: 55%;
    color: white;
    background-image: $background-radient-secondary;
    border-radius: 50px;
    padding: 15px 25px;
    border: none;

    &:hover {
        transform: scale(1.15);
        transition: transform 500ms;
    }
}