.banner { 
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    
 
}

.menu {

    display: flex;
    flex-direction: column ;
    gap: 50px;
    
    padding: 30px 0;
    
       .menu__title {
        display: flex;
        justify-content: space-between;
        vertical-align: middle;        
        
        padding: 50px 20px 50px 20px;
        border-radius: 50px 50px 0 0;
        background-color: $color-background-so-light;
        
        .favorite {
            padding-right: 20px;
        } 
    }

    .menu__entrees, .menu__plats, .menu__desserts {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        gap: 20px;

        hr {
            width: 50px;
            display: flex;
            flex: 0 0 100%;
            border: none;
            border-bottom: 5px solid $color-tertiary;
            margin: 0;
        }
        
        .items {
            width:100%;
            display: flex;

            border-radius: 30px;
            box-shadow: $box-shadow;
            padding: 20px;

            .items__description {
                width: 90%;
            }

            .items__price {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                font-size: 20px;
                font-weight: bold ;
                color: $color-font-dark;
            }
        }

        /*.items:nth-child(1) {
            flex:2;
        }*/
    }
    .btn {
        align-self: center;
    }    
    }

