.banner {
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 30px 0;
    background-color: $color-background-so-light;
    border-radius: 50px 50px 0 0;

    .menu__title {
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        padding: 50px 20px 50px 20px;

        .favorite {
            padding-right: 20px;
        }
    }
}

.menu__dish {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;

    .dish__type {
        hr {
            width: 50px;
            border: none;
            border-bottom: 5px solid $color-tertiary;
            margin: 0;
        }
    }
}

.dish__items {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    /*height: 90px;*/
    border-radius: 30px;
    box-shadow: $box-shadow;
    background-color: white;
    overflow: hidden;

    .items__description,
    .items__price {
        padding: 15px 0 15px 15px;
    }

    .items__description {
        overflow: hidden;
        flex: 1 1 60%;

        h3,
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .items__price {
        margin-right: 75px;
        font-size: 18px;
        font-weight: bold;
        color: $color-font-dark;
        flex: 0 0 20%;
        padding-right: 20px;
    }

    animation: all 1s ease-in-out forwards;

    .items__check {
        display: flex;
        height: 80px;
        margin-right: -80px;
        background-color: $color-tertiary;
        opacity: 0;

        i {
            color: white;
            margin: auto;
        }
    }

    &:hover {
        .items__check {
            animation: checking-slide 0.7s ease-out forwards;
            transform-origin: left;
        }

        .items__check>i {
            animation: checking-rotation 0.5s ease-out 0.2s;
        }
    }
}


@keyframes checking-slide {
    0% {
        width: 0px;
        transform: translateX(0);
        opacity: 0;
    }

    100% {
        width: 80px;
        transform: translateX(-80px);
        opacity: 1;
    }
}

@keyframes checking-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}