.banner {
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 30px 0;
    background-color: $color-background-so-light;
    border-radius: 50px 50px 0 0;

    .menu__title {
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        padding: 50px 20px 50px 20px;

        .favorite {
            padding-right: 20px;
        }
    }
}

.menu__dish {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;

    .dish__type {
        hr {
            width: 50px;
            /*display: flex;
        flex: 0 0 100%;*/
            border: none;
            border-bottom: 5px solid $color-tertiary;
            margin: 0;
        }
    }

    .dish__items {
        position: relative;
        display: flex;
        border-radius: 30px;
        box-shadow: $box-shadow;
        background-color: white;
        overflow: hidden;

        .dish__items-front {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            padding: 15px;

            .items__description {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .items__price {
                font-size: 18px;
                font-weight: bold;
                color: $color-font-dark;
            }

            animation: all 1s ease-in-out forwards;
        }

        .items__check {
            display: flex;
            width: 75px;
            height: 100%;
            position: absolute;
            z-index: 0;
            right: -100px;
            bottom: 0;
            background-color: $color-tertiary;
            opacity: 0;

            i {
                color: white;
                margin: auto;
            }
        }

        &:hover {
            .items__check {
                animation: checking-slide 0.7s ease-out forwards;
                transform-origin: left;
            }

            .items__check>i {
                animation: checking-rotation 0.5s ease-out 0.2s;
            }
        }
    }
}


.btn {
    align-self: center;
    margin-bottom: 20px;
}


@keyframes checking-slide {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-100px);
        opacity: 1;
    }
}

@keyframes checking-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}