.searching {
    display: flex;
    flex-direction: column;

    .searching__bar {
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;
        background-color: $color-background-light;
        padding: 30px 0;

        i {
            padding: 15px;
        }

        i, p {
            color: $color-font-dark;
            font-weight: bold;
        }
     }

    .searching__exploration {
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        background-color: $color-background-so-light;
        padding: 50px 0;
    
        h1, .subtitle {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .subtitle {
            font-size: 23px;
            font-weight:lighter;   
        }
    }
}

