.searching {
    display: flex;
    flex-direction: column;

    .searching__bar {
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;
        background-color: $color-background-light;
        padding: 15px 0;

        i {
            padding: 15px;
        }

        i,
        span {
            color: $color-font-dark;
        }
    }

    .searching__exploration {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: $color-background-so-light;
        padding-top: 40px;

        h1,
        .subtitle {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .btn {
            margin-top: 10px;
            margin-bottom: 60px;
        }
    }
}