.searching {
    display: flex;
    flex-direction: column;
}

.searching__bar {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    font-size: 21px;
    color: $color-font;
    font-weight: bold;
    background-color: $color-background;
    margin-bottom: 50px;

    &>i {
        padding-right: 15px;
    }
 }

.searching__exploration {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
         
    &>p {
        color: $color-font--lighten;
        font-size: 21px;
        margin: 0;
    }
        
    &>button {
        width:70%;
        color: white;
        font-weight: bold;
        font-size: 21px;
        background-color:$color-secondary;
        border-radius: 50px;
        padding: 15px;
        border: none;
        margin-bottom: 50px;
    }
}

.searching__functioning {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    column-gap: 25px;
    padding:20px;

    .functioning__stage {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        padding: 15px;
        position: relative;
        box-shadow: 3px 3px 3px $color-background;
        border-radius: 50px;
        font-size: 21px;

    .stage__number {
            background-color: $color-primary;
            padding: 5px 10px ;
            color: white;
            border-radius: 50px;
            position: absolute;
            left: -5px;
        }
        
        .stage__icone {
            color:$color-font;
            position: absolute;
            left: 50px;
        }
        
        .stage__instruction {
            position: absolute;
            left: 100px;
            font-weight: bold;
        }    
    }
}

