* {box-sizing: border-box;}

body {
    font-family:'Roboto', sans-serif;
    min-width: 360px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}


/* FONT-SIZE */

h1 {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    font-weight:lighter;   
}

.menu__title > h1 {
    font-family: 'Shrikhand';
}

h2 {
    font-size: 16px ;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 7px;
}


h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 7px;
}

p {
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
}

.stage__instruction, .btn, .searching__bar>span {
    font-size: 17px;
    font-weight: bold;
}

.stage__number {
    font-size: 13px;
    font-weight: bold;
    color:white;
}

.items__price {
    font-size: 16px;
    font-weight: bold;
    color: $color-font-dark;
}

footer {
    font-size: 14px;
}