* {box-sizing: border-box;}

body {
    min-width: 350px;
    max-width: 720px;
    font-family:'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}


/* FONT-SIZE */

h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 21px;
    font-weight:lighter;   
}

.menu__title > h1 {
    font-family: 'Shrikhand';
}

h2 {
    font-size: 20px ;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 7px;
}


h3 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 7px;
}

p {
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
}

.stage__instruction, .btn, .searching__bar>span {
    font-size: 19px;
    font-weight: bold;
}

footer{
    font-size: 19px;
}