@import url();

* {box-sizing: border-box;}

body {
    max-width: 720px;
    font-family:'Roboto', sans-serif;
}



a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
}

p {
    color:$color-font-light;
    font-size: 21px;
    margin: 0;
}