$color-primary :#9356DC;

$color-secondary: #FF79DA;
$color-secondary--darken: darken ($color-secondary, 10%); 

$color-tertiary: #99E2D0;
$color-tertiary--darken: darken ($color-tertiary, 20%);

$color-background: rgb(239, 236, 239);
$color-background--darken: darken ($color-background, 20%);

$color-font: rgb(76,71,71);
$color-font--lighten: lighten ($color-font, 20%);

$box-shadow: 0px 0px 30px rgb(76, 71, 71);