$color-primary :#9356DC;
$color-primary-btn-hover: lighten($color-primary, 5%);
$color-primary-lighten: lighten($color-primary, 15%);
$color-primary-so-light: lighten($color-primary, 33%);

$color-secondary: #FF79DA;
$color-secondary-btn-hover: lighten($color-secondary, 5%);
$color-secondary-lighten: lighten($color-secondary, 15%);

$color-tertiary: #99e1cf;
$color-tertiary-font: #06a37c;

/* couleur bouton*/
$background-radient-secondary: linear-gradient($color-secondary 35%, $color-primary);
$background-radient-secondary-light: linear-gradient($color-secondary-btn-hover 35%, $color-primary-btn-hover);
$color-heart: linear-gradient(0deg, $color-primary, $color-secondary);

/* couleur fond */
$color-background-dark:#4e4e4e;
$color-background-light: #f2f2f2;
$color-background-so-light: lighten($color-background-light, 3.7%);
$color-hr: darken($color-background-light, 7%);

/* couleur police */
$color-font-dark:#4e4e4e;
$color-font-light:#6c6c6c ;


$box-shadow: 3px 3px 3px $color-background-light;
