$color-primary :#9356DC;

$color-secondary: #FF79DA;
$color-secondary-darken: darken ($color-secondary, 10%); 

$color-tertiary: #99E2D0;
$color-tertiary-darken: darken ($color-tertiary, 5%);

/*color-background: black
$color-background: #0000;
$color-background--light: lighten ($color-background, 20%); >> gris foncé
$color-background--light-strong: lighten ($color-background, 75%); >>gris clair */

/*color-font :black
$color-font: #0000;
$color-font--light: lighten ($color-font, 20%); >> gris foncé 
$color-font--light-strong: lighten ($color-font, 50%); >> gris clair*/


/* couleur fond */
$color-background-dark:#4e4e4e;
$color-background-light: #f4f0f0;

/* couleur police */
$color-font-dark:#4e4e4e;
$color-font-light:#6c6c6c ;


$box-shadow: 3px 3px 3px $color-background-light;