$color-primary :#9356DC;

$color-secondary: #FF79DA;
$color-secondary--darken: darken ($color-secondary, 10%); 

$color-tertiary: #99E2D0;

$color-background: #DCDC;
$color-background--darken: darken ($color-background, 10%);

